@using System.Web.Optimization
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - AgricolaDH_GApp</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/site.css">

    <!-- jQuery and jQuery UI Libraries -->
    @* <link rel="stylesheet" href="~/jquery-ui/jquery-ui.css" /> *@
    <link rel="stylesheet" href="~/Scripts/AdminLTE/plugins/datepicker/datepicker3.css" />
    


</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-light main-background-color">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
@*                <li class="nav-item d-none d-sm-inline-block">
                    <a href="index3.html" class="nav-link">Home</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">Contact</a>
                </li>*@
            </ul>

            <!-- Right navbar links -->
@*            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                        <i class="fas fa-search"></i>
                    </a>
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>

                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-comments"></i>
                        <span class="badge badge-danger navbar-badge">3</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Brad Diesel
                                        <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">Call me whenever you can...</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        John Pierce
                                        <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">I got your message bro</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Nora Silvester
                                        <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">The subject goes here</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                    </div>
                </li>
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge">15</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-header">15 Notifications</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> 4 new messages
                            <span class="float-right text-muted text-sm">3 mins</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> 8 friend requests
                            <span class="float-right text-muted text-sm">12 hours</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-file mr-2"></i> 3 new reports
                            <span class="float-right text-muted text-sm">2 days</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>
            </ul>*@        
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        @Html.Partial("_LTELeftMenu")

        <!-- Content Wrapper. Contains page content -->
        <div id="HtmlBody" class="content-wrapper">
            <section class="content">
                @RenderBody()
            </section>
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
            <div class="p-3">
                <h5>Title</h5>
                <p>Sidebar content</p>
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
@*        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                Anything you want
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
        </footer>*@
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.min.js"></script>
 
    <script src="~/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Scripts/AdminLTE/plugins/datepicker/bootstrap-datepicker.js"></script>

    <div class="modal fade" id="modal-warning">
        <div class="modal-dialog">
            <div class="modal-content bg-warning">
                <div class="modal-header">
                    <h4 class="modal-title">Error</h4>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-editar-body">
                    <p style="margin-left: 10px">Hubo un error al realizar la transacción. Favor de contactar al administrador.</p>
                </div>
                <div class="modal-footer justify-content-between">
                    @*<button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancelar</button>*@
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Aceptar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</body>



</html>
<script>
    $(document).ready(function () {
        $("#dashboard").click(function () {
            sidebarClickColor($(this));
            $.ajax({
                type: "GET",
                url: '@Url.Action("Index", "Dashboard")',
                contentType: "application/json; charset=utf-8",
                data: {},
                success: function (data) {
                    $("#HtmlBody").html(data);
                }
            });
        });

        $("#requisicion").click(function () {            
            sidebarClickColor($(this));
            $.ajax({
                type: "GET",
                url: '@Url.Action("Index", "Requisicion")',
                contentType: "application/json; charset=utf-8",
                data: { },
                success: function (data) {
                    $("#HtmlBody").html(data);
                }                
            });
        });

        $("#subirFactura").click(function () {
            sidebarClickColor($(this));
            $.ajax({
                type: "GET",
                url: '@Url.Action("Index", "SubirFactura")',
                contentType: "application/json; charset=utf-8",
                data: { },
                success: function (data) {
                    $("#HtmlBody").html(data);
                }
            });
        });

        $("#ingresos").click(function () {
            sidebarClickColor($(this));
            $.ajax({
                type: "GET",
                url: '@Url.Action("Index", "Ingresos")',
                contentType: "application/json; charset=utf-8",
                data: {},
                success: function (data) {
                    $("#HtmlBody").html(data);
                }
            });
        });

        $("#egresos").click(function () {
            sidebarClickColor($(this));
            $.ajax({
                type: "GET",
                url: '@Url.Action("Index", "Egresos")',
                contentType: "application/json; charset=utf-8",
                data: {},
                success: function (data) {
                    $("#HtmlBody").html(data);
                }
            });
        });

        $("#reimpresion").click(function () {
            sidebarClickColor($(this));
            $.ajax({
                type: "GET",
                url: '@Url.Action("Index", "Reimpresion")',
                contentType: "application/json; charset=utf-8",
                data: {},
                success: function (data) {
                    $("#HtmlBody").html(data);
                }
            });
        });

        $("#almacen").click(function () {
            sidebarClickColor($(this));
            $.ajax({
                type: "GET",
                url: '@Url.Action("Index", "Almacen")',
                contentType: "application/json; charset=utf-8",
                data: {},
                success: function (data) {
                    $("#HtmlBody").html(data);
                }
            });
        });

        $("#usuarios").click(function () {
            sidebarClickColor($(this));
            $.ajax({
                type: "GET",
                url: '@Url.Action("Index", "Usuarios")',
                data: {},
                success: function (data) {
                    $("#HtmlBody").html(data);
                }
            });
        });

        $("#areas").click(function () {
            sidebarClickColor($(this));
            $.ajax({
                type: "GET",
                url: '@Url.Action("Index", "Areas")',
                data: {},
                success: function (data) {
                    $("#HtmlBody").html(data);
                }
            });
        });

        $("#proveedores").click(function () {
            sidebarClickColor($(this));
            $.ajax({
                type: "GET",
                url: '@Url.Action("Index", "Proveedores")',
                data: {},
                success: function (data) {
                    $("#HtmlBody").html(data);
                }
            });
        });

        $("#productos").click(function () {
            sidebarClickColor($(this));
            $.ajax({
                type: "GET",
                url: '@Url.Action("Index", "Productos")',
                contentType: "application/json; charset=utf-8",
                data: {},
                success: function (data) {
                    $("#HtmlBody").html(data);
                }
            });
        });

        $("#cultivos").click(function () {
            sidebarClickColor($(this));
            $.ajax({
                type: "GET",
                url: '@Url.Action("Index", "Cultivos")',
                contentType: "application/json; charset=utf-8",
                data: {},
                success: function (data) {
                    $("#HtmlBody").html(data);
                }
            });
        });

        $("#ranchos").click(function () {
            sidebarClickColor($(this));
            $.ajax({
                type: "GET",
                url: '@Url.Action("Index", "Ranchos")',
                contentType: "application/json; charset=utf-8",
                data: {},
                success: function (data) {
                    $("#HtmlBody").html(data);
                }
            });
        });

        $("#etapas").click(function () {
            sidebarClickColor($(this));
            $.ajax({
                type: "GET",
                url: '@Url.Action("Index", "Etapas")',
                contentType: "application/json; charset=utf-8",
                data: {},
                success: function (data) {
                    $("#HtmlBody").html(data);
                }
            });
        });

        $("#temporadas").click(function () {
            sidebarClickColor($(this));
            $.ajax({
                type: "GET",
                url: '@Url.Action("Index", "Temporadas")',
                contentType: "application/json; charset=utf-8",
                data: {},
                success: function (data) {
                    $("#HtmlBody").html(data);
                }
            });
        });

        function sidebarClickColor(id){
            $(".nav-link").css("background-color", "")
            id.css("background-color", "white");
        }
    });
</script>


