@model AgricolaDH_GApp.ViewModels.SubirFacturaVM

<div class="row card-row-spacer">
    <div class="col-md-10">
        <label style="font-weight: normal; text-align: left; float: left">Producto</label>
    </div>
    <div class="col-md-2">
        <label style="font-weight: normal; text-align: left; float: left">Cantidad</label>
    </div>
</div>

@for (int i = 0; i < Model.productosOrdenar.Count; i++)
{
    <div class="row card-row-spacer">
        @Html.HiddenFor(m => m.productosOrdenar[i].IdProductoOrdenar)
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.productosOrdenar[i].IdProducto, new SelectList(Model.productoList, "IdProducto", "NombreProducto"), " ", new { @class = "form-control input-focus requisicion" })
        </div>
        <div class="col-md-2">
            @Html.EditorFor(m => m.productosOrdenar[i].Cantidad, new { htmlAttributes = new { @class = "form-control input-focus requisicion" } })
        </div>
    </div>
}
<div class="row card-row-spacer">
</div>

<script>
    $(document).ready(function () {

        $("#agregarProductoOrdenar").click(function () {
            
            var dataform = $("#dataform");

            $.ajax({
                type: "POST",
                url: '@Url.Action("AgregarProductoOrdenar", "Requisicion")',
                data: dataform.serialize(),
                success: function (data) {
                    $("#productosOrdenarContent").html(data);
                }
            });
        });

        $("#eliminarProductoOrdenar").click(function () {

            var dataform = $("#dataform");

            $.ajax({
                type: "POST",
                url: '@Url.Action("EliminarProductoOrdenar", "Requisicion")',
                data: dataform.serialize(),
                success: function (data) {
                    $("#productosOrdenarContent").html(data);
                }
            });
        });

    });
</script>