@model AgricolaDH_GApp.ViewModels.RequisicionesVM

<div class="text-center">

    <div class="row top-row-spacer">
        <div class="col-md-6">
            <h4 class="page-title">Requisición</h4>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-2">
            <button id="crearRequisicion" class="btn btn-block secondary-background-color" style="color: white">
                <i class="nav-icon fas fa-arrow-plus"></i>
                Crear Requisición
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card card-margin">
                <div class="card-header">
                    <h3 class="card-title">Requisiciones Enviadas</h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" id="requisiciones_tableSearch" class="form-control float-right" placeholder="Search">
                            <div class="input-group-append">
                                <button type="button" id="requisicones_searchButton" class="btn btn-default">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0" style="height: 300px;">
                    <table id="requisicionesTable" class="table table-head-fixed text-nowrap">
                        <thead>
                            <tr>
                                <th style="width:30px">Acción</th>
                                <th>ID</th>
                                <th>Fecha</th>
                                <th>Solicitante</th>
                                <th>Status</th>
                                <th>Área</th>
                                <th>Cultivo</th>
                                <th>Rancho</th>
                                <th>Etapa</th>
                                <th>Temporada</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(int i=0; i < Model.requisicionList.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <a href="#" id="@Model.requisicionList[i].IdOrdenDeCompra" class="editarRequisicion" style="color: #2E2E2E">
                                            <i class="nav-icon fas fa-pen"></i>
                                        </a>
                                    </td>
                                    <td>@Model.requisicionList[i].IdOrdenDeCompra</td>
                                    <td>@Model.requisicionList[i].FechaRequisicion.ToShortDateString()</td>
                                    <td>@Model.requisicionList[i].Solicitante</td>
                                    <td>@Model.requisicionList[i].Proveedor</td>
                                    <td>@Model.requisicionList[i].Area</td>
                                    <td>@Model.requisicionList[i].Cultivo</td>
                                    <td>@Model.requisicionList[i].Rancho</td>
                                    <td>@Model.requisicionList[i].Etapa</td>
                                    <td>@Model.requisicionList[i].Temporada</td>
                                </tr>
                            }                           
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <div class="card card-margin">
                <div class="card-header">
                    <h3 class="card-title">Requisiciones Aceptadas</h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                            <div class="input-group-append">
                                <button type="submit" id="requisiconesAceptadas_searchButton" class="btn btn-default">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0" style="height: 300px;">
                    <table id="requisicionesAceptadasTable" class="table table-head-fixed text-nowrap">
                        <thead>
                            <tr>
                                <th style="width:30px">Acción</th>
                                <th>ID</th>
                                <th>Fecha</th>
                                <th>Solicitante</th>
                                <th>Status</th>
                                <th>Área</th>
                                <th>Cultivo</th>
                                <th>Rancho</th>
                                <th>Etapa</th>
                                <th>Temporada</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.requisicionAceptadaList.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <a href="#" id="@Model.requisicionAceptadaList[i].IdOrdenDeCompra" class="editarRequisicion" style="color: #2E2E2E">
                                            <i class="nav-icon fas fa-eye"></i>
                                        </a>
                                    </td>
                                    <td>@Model.requisicionAceptadaList[i].IdOrdenDeCompra</td>
                                    <td>@Model.requisicionAceptadaList[i].FechaRequisicion.ToShortDateString()</td>
                                    <td>@Model.requisicionAceptadaList[i].Solicitante</td>
                                    <td>@Model.requisicionAceptadaList[i].Proveedor</td>
                                    <td>@Model.requisicionAceptadaList[i].Area</td>
                                    <td>@Model.requisicionAceptadaList[i].Cultivo</td>
                                    <td>@Model.requisicionAceptadaList[i].Rancho</td>
                                    <td>@Model.requisicionAceptadaList[i].Etapa</td>
                                    <td>@Model.requisicionAceptadaList[i].Temporada</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <div class="card card-margin">
                <div class="card-header">
                    <h3 class="card-title">Requisiciones Rechazadas</h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" id="requisiciones_tableSearch" name="table_search" class="form-control float-right" placeholder="Search">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0" style="height: 300px;">
                    <table class="table table-head-fixed text-nowrap">
                        <thead>
                            <tr>
                                <th style="width:30px">Acción</th>
                                <th>ID</th>
                                <th>Fecha</th>
                                <th>Solicitante</th>
                                <th>Status</th>
                                <th>Área</th>
                                <th>Cultivo</th>
                                <th>Rancho</th>
                                <th>Etapa</th>
                                <th>Temporada</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.requisicionRechazadaList.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <a href="#" id="@Model.requisicionRechazadaList[i].IdOrdenDeCompra" class="editarRequisicion" style="color: #2E2E2E">
                                            <i class="nav-icon fas fa-eye"></i>
                                        </a>
                                    </td>
                                    <td>@Model.requisicionRechazadaList[i].IdOrdenDeCompra</td>
                                    <td>@Model.requisicionRechazadaList[i].FechaRequisicion.ToShortDateString()</td>
                                    <td>@Model.requisicionRechazadaList[i].Solicitante</td>
                                    <td>@Model.requisicionRechazadaList[i].Proveedor</td>
                                    <td>@Model.requisicionRechazadaList[i].Area</td>
                                    <td>@Model.requisicionRechazadaList[i].Cultivo</td>
                                    <td>@Model.requisicionRechazadaList[i].Rancho</td>
                                    <td>@Model.requisicionRechazadaList[i].Etapa</td>
                                    <td>@Model.requisicionRechazadaList[i].Temporada</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {

        $("#crearRequisicion").click(function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("CrearRequisicion", "Requisicion")',
                contentType: "application/json; charset=utf-8",
                data: {},
                success: function (data) {

                    $("#HtmlBody").html(data);
                }
            });
        });

        $(".editarRequisicion").click(function () {
            var IdOrdenDeCompra = $(this).attr("id");
            $.ajax({
                type: "POST",
                url: '@Url.Action("EditarRequisicion", "Requisicion")',
                data: { IdOrdenDeCompra: IdOrdenDeCompra },
                success: function (data) {

                    $("#HtmlBody").html(data);
                }
            });
        });
    });
</script>

