@model AgricolaDH_GApp.ViewModels.RequisicionesVM

<form id="dataform">
    @{
        bool edit = false;
        string title = "Crear Requisición";

        if (Model.requisicion.IdOrdenDeCompra > 0)
        {
            edit = true;
            title = "Editar Requisición";
        }
    }
    <div class="text-center">

        <div class="row top-row-spacer">
            <div class="col-md-6">
                <h4 class="page-title">@title</h4>
            </div>

            @if(!edit)
            {
                <div class="col-md-4">
                </div>
                <div class="col-md-2">
                    <button type="button" id="enviarRequisicion" class="btn btn-block secondary-background-color" style="color: white">
                        <i class="nav-icon fas fa-arrow-right"></i>
                        Enviar
                    </button>
                </div>
            }
            else if (Model.esAutorizado && Model.requisicion.IdOrdenDeCompraStatus <= OrdenDeCompraStatusEnumerators.Enviado)
            {
                <div class="col-md-2">
                </div>
                <div class="col-md-2">
                    <button type="button" id="aceptarRequisicion" class="btn btn-block secondary-background-color" style="color: white">
                        <i class="nav-icon fas fa-check"></i>
                        Aceptar
                    </button>
                </div>
                <div class="col-md-2">
                    <button type="button" id="negarRequisicion" class="btn btn-block btn-danger" style="color: white">
                        <i class="nav-icon fas fa-times"></i>
                        Negar
                    </button>
                </div>
            }
            else if (!Model.esAutorizado && Model.requisicion.IdOrdenDeCompraStatus <= OrdenDeCompraStatusEnumerators.Enviado)
            {
                <div class="col-md-2">
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-2">
                    <button type="button" id="cancelarRequisicion" class="btn btn-block btn-danger" style="color: white">
                        <i class="nav-icon fas fa-ban"></i>
                        Cancelar
                    </button>
                </div>
            }

        </div>

        <div class="card card-margin">
            @Html.HiddenFor(m => m.requisicion.IdOrdenDeCompra)
            <div class="row card-row-spacer">
                <div class="col-md-4">
                    <label style="font-weight: normal; text-align: left; float: left">Fecha de Requisición</label>
                    @Html.EditorFor(m => m.requisicion.FechaRequisicion, new { htmlAttributes = new { @class = "form-control input-focus" } })
                </div>
                <div class="col-md-4">
                    <label style="font-weight: normal; text-align: left; float: left">Solicitante</label>
                    @if(Model.esAutorizado)
                    {
                        @Html.DropDownListFor(m => m.requisicion.IdSolicitante, new SelectList(Model.solicitanteList, "IdUsuario", "NombreCompleto"), " ", new { @class = "form-control input-focus requisicion" })
                    }
                    else
                    {
                        @Html.HiddenFor(m => m.requisicion.IdSolicitante)
                        @Html.DropDownListFor(m => m.requisicion.IdSolicitante, new SelectList(Model.solicitanteList, "IdUsuario", "NombreCompleto"), " ", new { @class = "form-control input-focus requisicion", @disabled = "disabled" })
                    }
                </div>
                @*                 <div class="col-md-4">
                    <label style="font-weight: normal; text-align: left; float: left">Área</label>
                    @Html.DropDownListFor(m => m.requisicion.IdArea, new SelectList(Model.areaList, "IdArea", "Descripcion"), " ", new { @class = "form-control input-focus requisicion" })
                </div> *@
                <div class="col-md-4">
                    <label style="font-weight: normal; text-align: left; float: left">Área</label>
                    @Html.HiddenFor(m => m.requisicion.IdArea)
                    @Html.EditorFor(m => m.requisicion.AreaName, new { htmlAttributes = new { @class = "form-control input-focus notNull", @disabled = "disabled" } })
                </div>

            </div>
            <div class="row card-row-spacer">
                <div class="col-md-4">
                    <label style="font-weight: normal; text-align: left; float: left">Proveedor</label>
                    @Html.DropDownListFor(m => m.requisicion.IdProveedor, new SelectList(Model.proveedorList, "IdProveedor", "Nombre"), " ", new { @class = "form-control input-focus requisicion" })
                </div>
                <div class="col-md-4">
                    <label style="font-weight: normal; text-align: left; float: left">Temporada</label>
                    @Html.DropDownListFor(m => m.requisicion.IdTemporada, new SelectList(Model.temporadaList, "IdTemporada", "Descripcion"), " ", new { @class = "form-control input-focus requisicion" })
                </div>
                <div class="col-md-4">
                    <label style="font-weight: normal; text-align: left; float: left">Cultivo</label>
                    @Html.DropDownListFor(m => m.requisicion.IdCultivo, new SelectList(Model.cultivoList, "IdCultivo", "Descripcion"), " ", new { @class = "form-control input-focus requisicion" })
                </div>
            </div>
            <div class="row card-row-spacer">
                <div class="col-md-4">
                    <label style="font-weight: normal; text-align: left; float: left">Rancho</label>
                    @Html.DropDownListFor(m => m.requisicion.IdRancho, new SelectList(Model.ranchoList, "IdRancho", "Descripcion"), " ", new { @class = "form-control input-focus requisicion" })
                </div>
                <div class="col-md-4">
                    <label style="font-weight: normal; text-align: left; float: left">Etapa</label>
                    @Html.DropDownListFor(m => m.requisicion.IdEtapa, new SelectList(Model.etapaList, "IdEtapa", "Descripcion"), " ", new { @class = "form-control input-focus requisicion" })
                </div>
            </div>
            <div id="productosOrdenarContent">
                @Html.Partial("~/Views/Requisicion/ProductosOrdenar.cshtml", Model)
            </div>            
        </div>

        <div class="row bottom-row-spacer">
            <div class="col-md-10">
            </div>
            <div class="col-md-2">
                <button type="button" id="regresarRequisicion" class="btn btn-block btn-secondary" style="color: white">
                    <i class="nav-icon fas fa-arrow-left"></i>
                    Regresar
                </button>
            </div>
        </div>

    </div>
</form>

<div class="modal fade" id="modal-requisicionConfirm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Enviar Requisición</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-crear-body">
                <p style="margin-left: 10px">¿Seguro que desea enviar la requisición?</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancelar</button>
                <button id="requisicionConfirm" type="button" class="btn btn-primary">Enviar Requisición</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-aceptarRequisicionConfirm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Aceptar Requisición</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-crear-body">
                <p style="margin-left: 10px">¿Seguro que desea aceptar la requisición?</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancelar</button>
                <button id="aceptarRequisicionConfirm" type="button" class="btn btn-primary">Aceptar Requisición</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-negarRequisicionConfirm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Negar Requisición</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-crear-body">
                <p style="margin-left: 10px">¿Seguro que desea negar la requisición?</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancelar</button>
                <button id="negarRequisicionConfirm" type="button" class="btn btn-danger">Negar Requisición</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-cancelarRequisicionConfirm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cancelar Requisición</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-crear-body">
                <p style="margin-left: 10px">¿Seguro que desea cancelar la requisición?</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancelar</button>
                <button id="cancelarRequisicionConfirm" type="button" class="btn btn-danger">Cancelar Requisición</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
    $(document).ready(function () {

        $("#enviarRequisicion").click(function () {

            if(Validation()){
                $("#modal-requisicionConfirm").modal("show");
            }

        });

        $("#aceptarRequisicion").click(function () {

            if(Validation()){
                $("#modal-aceptarRequisicionConfirm").modal("show");
            }

        });

        $("#negarRequisicion").click(function () {

            if(Validation()){
                $("#modal-negarRequisicionConfirm").modal("show");
            }

        });

        $("#cancelarRequisicion").click(function () {

            if(Validation()){
                $("#modal-cancelarRequisicionConfirm").modal("show");
            }

        });

        $("#requisicionConfirm").click(function () {

            $("#modal-requisicionConfirm").modal("hide");

            var dataform = $("#dataform");

            $.ajax({
                type: "POST",
                url: '@Url.Action("InsertRequisicion", "Requisicion")',
                data: dataform.serialize(),
                success: function (data) {
                    $("#HtmlBody").html(data.url);
                }
            });
            

        });

        $("#aceptarRequisicionConfirm").click(function () {
            
            $("#modal-aceptarRequisicionConfirm").modal("hide");

            var dataform = $("#dataform");

            $.ajax({
                type: "POST",
                url: '@Url.Action("AcceptRejectRequisicion", "Requisicion")',
                data: dataform.serialize() + "&IdOrdenDeCompraStatus=2",
                success: function (data) {
                    $("#HtmlBody").html(data.url);
                }
            });

        });

        $("#negarRequisicionConfirm").click(function () {

            $("#modal-negarRequisicionConfirm").modal("hide");

            var dataform = $("#dataform");

            $.ajax({
                type: "POST",
                url: '@Url.Action("AcceptRejectRequisicion", "Requisicion")',
                data: dataform.serialize() + "&IdOrdenDeCompraStatus=3",
                success: function (data) {
                    $("#HtmlBody").html(data.url);
                }
            });
            

        });

        $("#cancelarRequisicionConfirm").click(function () {

            $("#modal-cancelarRequisicionConfirm").modal("hide");

            var dataform = $("#dataform");

            $.ajax({
                type: "POST",
                url: '@Url.Action("AcceptRejectRequisicion", "Requisicion")',
                data: dataform.serialize() + "&IdOrdenDeCompraStatus=6",
                success: function (data) {
                    $("#HtmlBody").html(data.url);
                }
            });


        });

        $("#regresarRequisicion").click(function () {

            $.ajax({
                type: "GET",
                url: '@Url.Action("Index", "Requisicion")',
                contentType: "application/json; charset=utf-8",
                data: { },
                success: function (data) {
                    $("#HtmlBody").html(data);
                }
            });

        });

        function Validation() {

            var validation = true

            $('.requisicion').each(function() {

                $("#" + this.id).css("border-color", "");

                if($("#" + this.id).val() == null || $("#" + this.id).val() == "" || $("#" + this.id).val() == "0"){
                    $("#" + this.id).css("border-color", "red");
                    validation = false;
                }
            });

            return validation;

        }

        $('#requisicion_IdArea').change(function(e){
            const IdArea = $(this).val();
             $.ajax({
                type: "GET",
                url: '@Url.Action("GetRanchoList", "Requisicion")',
                data: { IdArea: IdArea },
                success: function (data) {
                    const $ranchoDropdown = $("#requisicion_IdRancho");

                    $ranchoDropdown.empty();

                    $ranchoDropdown.append($('<option>').val('').text(''));

                    $.each(data.ranchoList, function (index, rancho) {
                        $ranchoDropdown.append(
                            $('<option>').val(rancho.idRancho).text(rancho.descripcion)
                        );
                    });
                }
            });
        });

        $('#requisicion_IdProveedor').change(function(e){
            const IdProveedor = $(this).val();
             $.ajax({
                type: "GET",
                url: '@Url.Action("GetProductoList", "Requisicion")',
                data: { IdProveedor: IdProveedor },
                success: function (data) {
                    $("#productosOrdenarContent").html(data);
                }
            });
        });

        $('#requisicion_IdTemporada').change(function(e){
            GetEtapaList()
        });

        $('#requisicion_IdCultivo').change(function(e){
            GetEtapaList()
        });

        $('#requisicion_IdRancho').change(function(e){
            GetEtapaList()
        });

        function GetEtapaList() {
            
            const IdArea = $("#requisicion_IdArea").val();
            const IdTemporada = $("#requisicion_IdTemporada").val();
            const IdCultivo = $("#requisicion_IdCultivo").val();
            const IdRancho = $("#requisicion_IdRancho").val();

            if(IdArea && IdTemporada && IdCultivo && IdRancho) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetEtapaList", "Requisicion")',
                    data: { IdArea: IdArea, IdTemporada: IdTemporada, IdCultivo: IdCultivo, IdRancho: IdRancho },
                    success: function (data) {

                        const $etapaDropdown = $("#requisicion_IdEtapa");
                        $etapaDropdown.empty();

                        $etapaDropdown.append($('<option>').val('').text(''));
                        $.each(data.etapaList, function (index, etapa) {
                            $etapaDropdown.append(
                                $('<option>').val(etapa.idEtapa).text(etapa.descripcion)
                            );
                        });
                    }
                });
            } 
            else {
                const $etapaDropdown = $("#requisicion_IdEtapa");
                $etapaDropdown.empty();
            }           
        }
    });
</script>