@model AgricolaDH_GApp.ViewModels.RequisicionesVM

<div class="text-center">

    <div class="row top-row-spacer">
        <div class="col-md-6">
            <h4 class="page-title">Crear Requisición</h4>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-2">
            <button id="enviarRequisicion" class="btn btn-block secondary-background-color" style="color: white">
                <i class="nav-icon fas fa-arrow-right"></i>
                Enviar
            </button>
        </div>
    </div>

    <div class="card card-margin">
        <div class="row card-row-spacer">
            <div class="col-md-4">
                <label style="font-weight: normal; text-align: left; float: left">Fecha</label>
                @Html.EditorFor(m => m.requisicion.Fecha, new { htmlAttributes = new { @class = "form-control input-focus" } })
            </div>
            <div class="col-md-4">
                <label style="font-weight: normal; text-align: left; float: left">Solicitante</label>
                @Html.DropDownListFor(m => m.requisicion.IdSolicitante, new SelectList(Model.solicitanteList, "IdUsuario", "Nombre"), " ", new { @class = "form-control input-focus" })
            </div>
            <div class="col-md-4">
                <label style="font-weight: normal; text-align: left; float: left">Proveedor</label>
                @Html.DropDownListFor(m => m.requisicion.IdProveedor, new SelectList(Model.proveedorList, "IdProveedor", "Nombre"), " ", new { @class = "form-control input-focus" })
            </div>
        </div>
        <div class="row card-row-spacer">
            <div class="col-md-4">
                <label style="font-weight: normal; text-align: left; float: left">Área</label>
                @Html.DropDownListFor(m => m.requisicion.IdArea, new SelectList(Model.areaList, "IdArea", "Descripcion"), " ", new { @class = "form-control input-focus" })
            </div>
            <div class="col-md-4">
                <label style="font-weight: normal; text-align: left; float: left">Cultivo</label>
                @Html.DropDownListFor(m => m.requisicion.IdCultivo, new SelectList(Model.cultivoList, "IdCultivo", "Descripcion"), " ", new { @class = "form-control input-focus" })
            </div>
            <div class="col-md-4">
                <label style="font-weight: normal; text-align: left; float: left">Rancho</label>
                @Html.DropDownListFor(m => m.requisicion.IdRancho, new SelectList(Model.ranchoList, "IdRancho", "Descripcion"), " ", new { @class = "form-control input-focus" })
            </div>
        </div>
        <div class="row card-row-spacer">
            <div class="col-md-4">
                <label style="font-weight: normal; text-align: left; float: left">Etapa</label>
                @Html.DropDownListFor(m => m.requisicion.IdEtapa, new SelectList(Model.etapaList, "IdEtapa", "Descripcion"), " ", new { @class = "form-control input-focus" })
            </div>
            <div class="col-md-4">
                <label style="font-weight: normal; text-align: left; float: left">Temporada</label>
                @Html.DropDownListFor(m => m.requisicion.IdTemporada, new SelectList(Model.temporadaList, "IdTemporada", "Descripcion"), " ", new { @class = "form-control input-focus" })
            </div>
        </div>
        <div class="row card-row-spacer">
            <label style="font-weight: normal; text-align: left; float: left">Productos a Ordenar</label>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <button class="btn-sm secondary-background-color" style="color: white; border: 0px"><i class="nav-icon fas fa-plus"></i></button>
            &nbsp;
            &nbsp;
            <button class="btn-sm secondary-background-color" style="color: white; border: 0px"><i class="nav-icon fas fa-minus"></i></button>

        </div>

        @for (int i = 0; i < Model.productosOrdenar.Count; i++)
        {
            <div class="row card-row-spacer">
                <div class="col-md-10">
                    <label style="font-weight: normal; text-align: left; float: left">Producto</label>
                    @Html.DropDownListFor(m => m.productosOrdenar[i].IdProducto, new SelectList(Model.productoList, "IdProducto", "NombreProducto"), " ", new { @class = "form-control input-focus" })
                </div>
                <div class="col-md-2">
                    <label style="font-weight: normal; text-align: left; float: left">Cantidad</label>
                    @Html.EditorFor(m => m.productosOrdenar[i].Cantidad, new { htmlAttributes = new { @class = "form-control input-focus" } })
                </div>
            </div>
        }
    </div>



</div>
<script>
    $(document).ready(function () {

        $("#enviarRequisicion").click(function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("Index", "Requisicion")',
                contentType: "application/json; charset=utf-8",
                data: {},
                success: function (data) {
                    $("#HtmlBody").html(data);
                }
            });
        });

    });
</script>