@model AgricolaDH_GApp.ViewModels.EgresosVM

<div class="row top-row-spacer">
    <div class="col-md-5">
        <h4 class="page-title">Generar Egreso de Productos</h4>
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-block secondary-background-color validacion" style="color: white">
            Aceptar
        </button>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-block btn-danger egreso cancelar" style="color: white">
            <i class="nav-icon fas fa-ban"></i>
            Cancelar
        </button>
    </div>
</div>
<form id="egreso-form">
    <div class="card card-margin">
        <div class="row card-row-spacer">
            <div class="col-md-4">
                @Html.HiddenFor(m => m.egreso.IdProducto)
                <label style="font-weight: normal; text-align: left; float: left">Solicitante</label>
                @Html.DropDownListFor(m => m.egreso.IdSolicitante, new SelectList(Model.usuariosList, "IdUsuario", "Username"), " ", new { @class = "form-control input-focus validar" })
            </div>
            <div class="col-md-4">
                <label style="font-weight: normal; text-align: left; float: left">Evidencia Antes</label>
                <div class="input-group">
                    <div class="custom-file">
                        @Html.EditorFor(m => m.egreso.FileAntes, new { htmlAttributes = new { @class = "form-control custom-file-input", @type = "file", @accept = "image/*", @capture = "environment" } })
                        @Html.Label("", "", new { @class = "custom-file-label validarArchivo", @style = "text-align: left" })
                    </div>
                    <div class="input-group-append">
                        <button type="button" id="EvidenciaAntes" class="input-group-text camara">
                            <i class="nav-icon fas fa-ban fa-camera"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <label style="font-weight: normal; text-align: left; float: left">Evidencia Despues</label>
                <div class="input-group">
                    <div class="custom-file">
                        @Html.EditorFor(m => m.egreso.FileDespues, new { htmlAttributes = new { @class = "form-control custom-file-input", @type = "file", @accept = "image/*", @capture = "environment" } })
                        @Html.Label("", "", new { @class = "custom-file-label validarArchivo", @style = "text-align: left" })
                    </div>
                    <div class="input-group-append">
                        <button type="button" id="EvidenciaAntes" class="input-group-text camara">
                            <i class="nav-icon fas fa-ban fa-camera"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row card-row-spacer">
        </div>
    </div>
</form>

<div id="ListaDeProductos">
    @Html.Partial("~/Views/Egresos/ListaProductos.cshtml", Model)
</div>

<div class="modal fade" id="modal-confirmacion">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmacion de Egreso</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-agregar-body">
                <p style="margin-left: 10px">¿Seguro que desea continuar?</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary generarEgreso">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-success">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmacion</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-editar-body">
                <p style="margin-left: 10px">Egreso generado existosamente.</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-primary egreso">Aceptar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<script>
    $(document).ready(function () {
        $(".egreso").click(function () {
            $("#modal-success").modal("hide");
            $.ajax({
                type: "GET",
                url: '@Url.Action("Index", "Egresos")',
                contentType: "application/json; charset=utf-8",
                data: {},
                success: function (data) {
                    console.log("AJAX Success Response:", data);
                    $("#HtmlBody").html(data);
                },
                error: function (xhr, status, error) {
                    console.error("AJAX Error:", status, error, xhr.responseText);
                    alert("Error loading content. Please try again.");
                }
            });
        });

        $(".validacion").click(function () {
            if (Validation()) {
                $("#modal-confirmacion").modal("show");
            }
        });

        $(".generarEgreso").click(function () {
            $("#modal-confirmacion").modal("hide");

            var egresoForm = $("#egreso-form")[0];
            var listaProductos = $("#lista")[0].querySelectorAll('input, select, textarea');
            var formData = new FormData(egresoForm);

            listaProductos.forEach(function (input) {
                formData.append(input.name, input.value);
            });

            $.ajax({
                type: "POST",
                url: '@Url.Action("GenerarEgreso", "Egresos")',
                data: formData,
                processData: false, // Important: Prevent jQuery from processing the data
                contentType: false, // Important: Prevent jQuery from overriding the Content-Type
                success: function (data) {
                    if (data.res > 0) {
                        $("#modal-success").modal("show");
                    }
                    else {
                        $("#modal-warning").modal("show");
                        $(".egreso").click();
                    }
                }
            });
        });

        function Validation() {
            var validation = true;
            $('.validar').each(function () {

                $("#" + this.id).css("border-color", "");

                if ($("#" + this.id).val() == null || $("#" + this.id).val() == "" || $("#" + this.id).val() == "0") {
                    $("#" + this.id).css("border-color", "red");
                    validation = false;
                }
            });
            $('.custom-file-input').each(function () {
                var fileInput = $(this);
                var label = fileInput.next(".custom-file-label");
                fileInput.css("border-color", "");
                label.css("border-color", "");

                if (label.text() == null || label.text() == "") {
                    fileInput.css("border-color", "red");
                    label.css("border-color", "red");
                    validation = false;
                }
            });

            return validation;
        };

        $(".custom-file-input").change(function () {
            var fileInput = $(this);
            var label = fileInput.next(".custom-file-label");

            if (fileInput[0].files.length > 0) {
                var fileName = fileInput[0].files[0].name;
                label.text(fileName);
                yourQueryFunction(fileInput[0].files[0]);
            } else {
                label.text("No file chosen");
            }
        });

        $(".camara").click(function (event) {
            event.preventDefault();
            var fileInput = $(this).closest('.input-group').find('.custom-file-input');
            fileInput.trigger('click');
        });
    });
</script>