@model AgricolaDH_GApp.ViewModels.EgresosVM

    <div class="row top-row-spacer">
        <div class="col-md-5">
            <h4 class="page-title">Egresos</h4>
        </div>
        <div class="col-md-5">
        </div>
        <div class="col-md-2">
            <button class="btn btn-block secondary-background-color crearEgreso" style="color: white">
                <i class="nav-icon fas fa-plus"></i>
                Egreso
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card card-margin">
                <div class="card-header">
                    <h3 class="card-title"></h3>
                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card-body table-responsive p-0" style="height: 300px;">
                    <table class="table table-head-fixed text-nowrap">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Producto ID</th>
                                <th>Producto</th>
                                <th>Solicitante</th>
                                <th>Evidencia Antes</th>
                                <th>Evidencia Despues</th>
                                <th>Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var egreso in Model.egresosLista)
                            {
                                <tr>
                                    <td>
                                        <button href="#" id="@egreso.IdEgreso" class="btn btn-default button-plus">
                                            <i class="nav-icon fas fa-search"></i>
                                        </button>
                                    </td>
                                    <td>@egreso.SerialNumber</td>
                                    <td>@egreso.Producto</td>
                                    <td>@egreso.Solicitante</td>
                                    <td>@egreso.PathAntes</td>
                                    <td>@egreso.PathDespues</td>
                                    <td>@egreso.Fecha</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>

    <div class="card card-margin">
        <div class="card-header">
            <h3 class="card-title">Detalles</h3>
        </div>
        <div class="row card-row-spacer">
            <div class="col-md-4">
                <label style="font-weight: normal; text-align: left; float: left">Producto ID</label>
                <input id="ProductBarcodeID" type="text" class="form-control" readonly />
            </div>
            <div class="col-md-4">
                <label style="font-weight: normal; text-align: left; float: left">Producto</label>
                <input id="Producto" type="text" class="form-control" readonly />
            </div>
            <div class="col-md-4">
                <label style="font-weight: normal; text-align: left; float: left">Fecha</label>
                <input id="Fecha" type="text" class="form-control" readonly />
            </div>
        </div>

        <div class="row card-row-spacer">
            <div class="col-md-4">
                <label style="font-weight: normal; text-align: left; float: left">Cantidad</label>
                <input id="Cantidad" type="number" min="0" max="99999" step="1" class="form-control" readonly />
            </div>
            <div class="col-md-4">
                <label style="font-weight: normal; text-align: left; float: left">Aprobado Por</label>
                <input id="AprobadoPor" type="text" class="form-control" readonly />
            </div>
            <div class="col-md-4">
                <label style="font-weight: normal; text-align: left; float: left">Solicitante</label>
                <input id="Solicitante" type="text" class="form-control" readonly />
            </div>
        </div>
        <div class="row card-row-spacer">
            <div class="col-md-4">
                <label style="font-weight: normal; text-align: left; float: left">Comentarios</label>
                <textarea id="Comentarios" class="form-control" readonly></textarea>
            </div>
            <div class="col-md-4">
                <label style="font-weight: normal; text-align: left; float: left">Evidencia Antes</label>
                <div id="GrupoAntes" class="input-group">
                    <div class="custom-file">
                        <input id="SubirArchivoAntes" type="text" class="form-control" readonly>
                    </div>
                    <div class="input-group-append">
                        <button id="EvidenciaAntes" class="input-group-text" data-target="#SubirArchivoAntes">
                            <i class="nav-icon fas fa-arrow-circle-down"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <label style="font-weight: normal; text-align: left; float: left">Evidencia Despues</label>
                <div id="GrupoEvidenciaDespues" class="input-group">
                    <div class="custom-file">
                        <input id="SubirArchivoDespues" type="text" class="form-control" readonly>
                    </div>
                    <div class="input-group-append">
                        <button id="EvidenciaDespues" class="input-group-text" data-target="#SubirArchivoDespues">
                            <i class="nav-icon fas fa-arrow-circle-down"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>


<div class="modal fade" id="modal-success">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmacion</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-editar-body">
                <p style="margin-left: 10px">Egreso generado existosamente.</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button id="aceptar" type="button" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<script>
    $(document).ready(function () {
        $(".crearEgreso").click(function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("EgresoForm", "Egresos")',
                contentType: "application/json; charset=utf-8",
                data: {},
                success: function (data) {
                    $("#HtmlBody").html(data);
                }
            });
        });

        $(".btn.btn-default.button-plus").click(function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("DetallesEgreso", "Egresos")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(IdEgreso),
                success: function (response) {
                    //alert(JSON.stringify(response));
                }
            });
        });

        $(".input-group-text").click(function () {
            alert("Button clicked!");
            // Get the target input id from the data attribute
            var targetInputId = $(this).data("target");
            // Get the value of the corresponding input field
            var filename = $(targetInputId).val();

            $.ajax({
                type: "POST",
                url: '@Url.Action("DescargarArchivo", "Egresos")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(filename),
                success: function (response) {
                    if (response.res == 1){
                        $("#modal-confirmacion").modal("show");
                    }
                    if (response.res == -1){
                            $("#modal-warning").modal("show");
                    }
                }
            });
        });

        $("#aceptar").click(function () {
            $("#modal-success").modal("hide");
            $.ajax({
                type: "GET",
                url: '@Url.Action("Index", "Egresos")',
                contentType: "application/json; charset=utf-8",
                data: {},
                success: function (data) {
                    $("#HtmlBody").html(data);
                }
            });
        });
    });
</script>

