@model AgricolaDH_GApp.ViewModels.EgresosVM

<div class="text-center">

    <div class="row top-row-spacer">
        <div class="col-md-5">
            <h4 class="page-title">Egresos</h4>
        </div>
        <div class="col-md-5">
        </div>
        <div class="col-md-2">
            <button id="crear-egreso" class="btn btn-block secondary-background-color" style="color: white">
                Crear Egreso
            </button>
        </div>
    </div>

    <!-- Movements Table Section -->
    <div class="row">
        <div class="col-12">
            <div class="card card-margin">
                <div class="card-header">
                    <h3 class="card-title"></h3>
                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            
                            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0" style="height: 300px;">
                    <table class="table table-head-fixed text-nowrap">
                        <thead>
                            <tr>    
                                <th></th>
                                <th>Egreso #</th>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Solicitante</th>
                                <th>Aprobado Por</th>
                                <th>Comentarios</th>
                                <th>Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var egreso in Model.egresosList)
                            {
                                <tr>
                                    <td>
                                        <button href="#" id="@egreso.IdEgreso" class="btn btn-default button-plus">
                                            <i class="nav-icon fas fa-search"></i>
                                        </button>
                                    </td>
                                    <td>@egreso.IdEgreso</td>
                                    <td>@egreso.Producto</td>
                                    <td>@egreso.Cantidad</td>
                                    <td>@egreso.Solicitante</td>
                                    <td>@egreso.AprobadoPor</td>
                                    <td>@egreso.Comentarios</td>
                                    <td>@egreso.Fecha</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>

    <div class="card card-margin">
        <div class="card-header">
            <h3 class="card-title">Detalles</h3>
        </div>
        <div class="row card-row-spacer">
            <div class="col-md-4">
                <label style="font-weight: normal; text-align: left; float: left">Producto ID</label>
                <input id="ProductBarcodeID" type="text" class="form-control" readonly />
            </div>
            <div class="col-md-4">
                <label style="font-weight: normal; text-align: left; float: left">Producto</label>
                <input id="Producto" type="text" class="form-control" readonly />
            </div>
            <div class="col-md-4">
                <label style="font-weight: normal; text-align: left; float: left">Fecha</label>
                <input id="Fecha" type="text" class="form-control" readonly />
            </div>
        </div>

        <div class="row card-row-spacer">
            <div class="col-md-4">
                <label style="font-weight: normal; text-align: left; float: left">Cantidad</label>
                <input id="Cantidad" type="number" min="0" max="99999" step="1" class="form-control" readonly/>
            </div>
            <div class="col-md-4">
                <label style="font-weight: normal; text-align: left; float: left">Aprobado Por</label>
                <input id="AprobadoPor" type="text" class="form-control" readonly />
            </div>
            <div class="col-md-4">
                <label style="font-weight: normal; text-align: left; float: left">Solicitante</label>
                <input id="Solicitante" type="text" class="form-control" readonly/>
            </div>
        </div>
        <div class="row card-row-spacer">
            <div class="col-md-4">
                <label style="font-weight: normal; text-align: left; float: left">Comentarios</label>
                <textarea id="Comentarios" class="form-control" readonly></textarea>
            </div>
            <div class="col-md-4">
                <label style="font-weight: normal; text-align: left; float: left">Evidencia Antes</label>
                <div id="GrupoAntes" class="input-group">
                    <div class="custom-file">
                        <input id="SubirArchivoAntes" type="text" class="form-control" readonly>
                    </div>
                    <div class="input-group-append">
                        <button id="EvidenciaDespues" class="input-group-text">
                            <i class="nav-icon fas fa-arrow-circle-down"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <label style="font-weight: normal; text-align: left; float: left">Evidencia Despues</label>
                <div id="GrupoEvidenciaDespues" class="input-group">
                    <div class="custom-file">
                        <input id="SubirArchivoDespues" type="text" class="form-control" readonly>
                    </div>
                    <div class="input-group-append">
                        <button id="EvidenciaDespues" class="input-group-text">
                            <i class="nav-icon fas fa-arrow-circle-down"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>

<script>
    $(document).ready(function () {
        $("#crear-egreso").click(function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("EgresoForm", "Egresos")',
                contentType: "application/json; charset=utf-8",
                data: {},
                success: function (data) {
                    $("#HtmlBody").html(data);
                }
            });
        });

        $(".btn.btn-default.button-plus").click(function () {
            var IdEgreso = parseInt($(this).attr("id"));
            //alert(IdEgreso);
            $.ajax({
                type: "POST",
                url: '@Url.Action("DetallesEgreso", "Egresos")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(IdEgreso),
                success: function (response) {
                    //alert(JSON.stringify(response));
                    var producto = response.model.producto;
                    var egreso = response.model.egreso;

                    let fecha = new Date(egreso.fecha);        
                    let options = {
                        day: '2-digit',
                        month: '2-digit',
                        year: 'numeric',
                        hour: '2-digit',
                        minute: '2-digit',
                        hour12: true
                    };
                    let formattedFecha = fecha.toLocaleString('en-CA', options); // 'en-CA' for yyyy-MM-dd HH:mm format
                    
                    if (response !== null) {
                        $("#ProductBarcodeID").val(producto.productBarcodeID);
                        $("#Producto").val(egreso.producto);
                        $("#Fecha").val(formattedFecha);
                        $("#Cantidad").val(egreso.cantidad);
                        $("#AprobadoPor").val(egreso.aprobadoPor);
                        $("#Solicitante").val(egreso.solicitante);
                        $("#Comentarios").val(egreso.comentarios);

                        //$("#EvidenciaAntes").val(response.egreso.producto);
                        //$("#EvidenciaDespues").val(response.egreso.descripcion);
                    }
                }
            });
        });

    });
</script>

