@model AgricolaDH_GApp.ViewModels.AlmacenVM
<div class="text-center">

    <div class="row top-row-spacer">
        <div class="col-md-6">
            <h4 class="page-title">Almacen</h4>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
            <button id="ingresoAlmacen" class="btn btn-block secondary-background-color" style="color: white">
                <i class="nav-icon fas fa-plus"></i>
                  Entrada
            </button>
        </div>
        <div class="col-md-2">
            <button id="salidaAlmacen" class="btn btn-block secondary-background-color" style="color: white">
                <i class="nav-icon fas fa-minus"></i>
                Salida
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card card-margin">
                <div class="card-header">
                    <h3 class="card-title"></h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0" style="height: 300px;">
                    <table class="table table-head-fixed text-nowrap">
                        <thead>
                            <tr>
                                <th>Id Producto</th>
                                <th>Producto</th>
                                <th>Descripcion</th>
                                <th>Disponible</th>
                                <th>En Uso</th>
                                <th>Terminados</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var almacen in Model.almacenList)
                            {
                                <tr>
                                    <td>@almacen.IdProducto</td>
                                    <td>@almacen.NombreProducto</td>
                                    <td>@almacen.Descripcion</td>
                                    <td>@almacen.Disponible</td>
                                    <td>@almacen.EnUso</td>
                                    <td>@almacen.Terminados</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card card-margin">
                <div class="card-header">
                    <h3 class="card-title">Movimientos</h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0" style="height: 300px;">
                    <table class="table table-head-fixed text-nowrap">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Movimiento</th>
                                <th>Articulo</th>
                                <th>Cantidad</th>
                                <th>Solicitante</th>
                                <th>Aprobado Por</th>
                                <th>Motivo</th>
                                <th>Uso</th>
                                <th>Tipo de Movimiento</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var movimiento in Model.movimientosList)
                            {
                                <tr>
                                    <td>@movimiento.Fecha</td>
                                    <td>@movimiento.IdMovimiento</td>
                                    <td>@movimiento.Producto</td>
                                    <td>@movimiento.Cantidad</td>
                                    <td>@movimiento.Solicitante</td>
                                    <td>@movimiento.AprobadoPor</td>
                                    <td>@movimiento.Motivo</td>
                                    <td>@movimiento.Uso</td>
                                    <td>@movimiento.TipoMovimiento</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {

        $("#ingresoAlmacen").click(function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("Entrada", "Almacen")',
                contentType: "application/json; charset=utf-8",
                data: {},
                success: function (data) {
                    $("#HtmlBody").html(data);
                }
            });
        });
        $("#salidaAlmacen").click(function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("Salida", "Almacen")',
                contentType: "application/json; charset=utf-8",
                data: {},
                success: function (data) {

                    $("#HtmlBody").html(data);
                }
            });
        });

    });
</script>

