@model AgricolaDH_GApp.ViewModels.AlmacenVM
<form id="lista">
    <div class="card card-margin">
        <div class="row card-row-spacer">
            <div class="col-md-12">
                <label style="font-weight: normal; text-align: left; float: left">ID Producto</label>
                @Html.EditorFor(m => m.almacen.SerialNumber, new { htmlAttributes = new { @class = "form-control input-focus escanear", @placeholder = "Escanea el producto aqui"} })
            </div>
        </div>
        <div class="row card-row-spacer">
        </div>
    </div>
    @{
        if(Model.almacenLista.Count > 0)
        {
            <div class="card card-margin">
                <div class="card-header">
                    <h3 class="card-title">Lista de Productos</h3>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <button type="button" class="btn-sm secondary-background-color eliminarAlmacenLista" style="color: white; border: 0px">
                        <i class="nav-icon fas fa-minus"></i>
                    </button>
                </div>
                <div class="row card-row-spacer">
                    <div class="col-md-4">
                        <label style="font-weight: normal; text-align: left; float: left">Producto ID</label>
                    </div>
                    <div class="col-md-4">
                        <label style="font-weight: normal; text-align: left; float: left">Producto</label>
                    </div>
                    <div class="col-md-4">
                        <label style="font-weight: normal; text-align: left; float: left">Descripcion</label>
                    </div>
                </div>

                @for (int i = 0; i < Model.almacenLista.Count; i++)
                {
                    <div class="row card-row-spacer">
                        @Html.HiddenFor(m => m.almacenLista[i].IdAlmacen)
                        @Html.HiddenFor(m => m.almacenLista[i].IdProducto)
                        @Html.HiddenFor(m => m.almacenLista[i].IdEstatus)
                        @Html.HiddenFor(m => m.almacenLista[i].Estatus)
                        <div class="col-md-4">
                            @Html.EditorFor(m => m.almacenLista[i].SerialNumber, new { htmlAttributes = new { @class = "form-control input-focus", @readonly = "readonly" } })
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(m => m.almacenLista[i].NombreProducto, new { htmlAttributes = new { @class = "form-control input-focus", @readonly = "readonly" } })
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(m => m.almacenLista[i].Descripcion, new { htmlAttributes = new { @class = "form-control input-focus", @readonly = "readonly" } })
                        </div>
                    </div>
                }
                <div class="row card-row-spacer">
                </div>
            </div>
        }
    }
    <div class="card card-margin">
    </div>

</form>

<script>
    $(document).ready(function () {
        $('.escanear').on('keypress', function (event) {
            if (event.which !== 13) {
                return;
            }
            event.preventDefault();

            var dataform = $("#lista");

            $.ajax({
                type: "POST",
                url: '@Url.Action("AgregarProductoLista", "Almacen")',
                data: dataform.serialize(),
                success: function (data) {
                    $("#ListaDeProductos").html(data);
                    $("input[name='almacen.SerialNumber']").val("").focus(); // Limpia y vuelve a enfocar para el siguiente escaneo
                }
            });
        });

        $('.eliminarAlmacenLista').click(function () {
            var dataform = $("#lista");
            //alert(dataform.serialize());
            $.ajax({
                type: "POST",
                url: '@Url.Action("EliminarProductoLista", "Almacen")',
                data: dataform.serialize(),
                success: function (data) {
                    $("#ListaDeProductos").html(data);
                }
            });
        });

    });
</script>
