@model AgricolaDH_GApp.ViewModels.AlmacenVM

<form id="dataform">

    <div class="row top-row-spacer">
        <div class="col-md-4">
            <h4 class="page-title">Salida de Almacen</h4>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-block secondary-background-color validacion" style="color: white">
                Aceptar
            </button>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-block btn-danger almacen" style="color: white">
                <i class="nav-icon fas fa-ban"></i>
                Cancelar
            </button>
        </div>
    </div>

    <div class="card card-margin">
        <div class="row card-row-spacer">
            <div class="col-md-4">
                @Html.HiddenFor(m => m.almacen.IdProducto)
                <label style="font-weight: normal; text-align: left; float: left">Almacenista</label>
                @if (Model.almacen.esAutorizado)
                {
                    @Html.DropDownListFor(m => m.almacen.IdAlmacenista, new SelectList(Model.usuariosList, "IdUsuario", "Username"), " ", new { @class = "form-control input-focus validar" })
                }
                else
                {
                    @Html.DropDownListFor(m => m.almacen.IdAlmacenista, new SelectList(Model.usuariosList, "IdUsuario", "Username"), " ", new { @class = "form-control input-focus validar", @disabled = "disabled" })
                }
            </div>
            <div class="col-md-4">
                <label style="font-weight: normal; text-align: left; float: left">Solicitante</label>
                @Html.DropDownListFor(m => m.almacen.IdSolicitante, new SelectList(Model.ingenieroList, "IdUsuario", "NombreCompleto"), " ", new { @class = "form-control input-focus validar" })
            </div>
            <div class="col-md-4">
                <label style="font-weight: normal; text-align: left; float: left">Razon</label>
                @Html.EditorFor(m => m.almacen.RazonUso, new { htmlAttributes = new { @class = "form-control input-focus validar RazonValidar" } })
            </div>
        </div>
        <div class="row card-row-spacer">
        </div>

    </div>
</form>
<div id="ListaDeProductos">
    @Html.Partial("~/Views/Almacen/ListaProductos.cshtml", Model)
</div>

<div class="modal fade" id="modal-success">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmacion</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-editar-body">
                <p style="margin-left: 10px">Movimiento generado existosamente.</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-primary almacen">Aceptar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-confirmacion">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmar Salida</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-agregar-body">
                <p style="margin-left: 10px">Seguro que desea continuar?</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary salidaAlmacen">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        // Prevent Click Enter in Razon field
        $('.RazonValidar').on('keydown', function (e) {
            if (e.key === 'Enter') {
                e.preventDefault();
                return false;
            }
        });

        $(".almacen").click(function () {
            $("#modal-success").modal("hide");
            $.ajax({
                type: "GET",
                url: '@Url.Action("Index", "Almacen")',
                contentType: "application/json; charset=utf-8",
                data: {},
                success: function (data) {
                    $("#HtmlBody").html(data);
                }
            });
        });

        $(".validacion").click(function () {
            if (Validation()){
                $("#modal-confirmacion").modal("show");
            }
        });

        $(".salidaAlmacen").click(function () {
            $("#modal-confirmacion").modal("hide");
            var dataform = $("#dataform").serialize() + '&' + $("#lista").serialize();
            //alert(dataform);
            $.ajax({
                type: "POST",
                url: '@Url.Action("BajaAlmacen", "Almacen")',
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                data: dataform,
                success: function (data) {
                    if (data.res > 0) {
                        $("#modal-success").modal("show");
                    } else {
                        $("#modal-warning").modal("show");
                        $(".almacen").click();
                    }
                },
            });
        });

        function Validation() {
            var validation = true;
            $('.validar').each(function () {

                $("#" + this.id).css("border-color", "");

                if ($("#" + this.id).val() == null || $("#" + this.id).val() == "" || $("#" + this.id).val() == "0") {
                    $("#" + this.id).css("border-color", "red");
                    validation = false;
                }
            });
            return validation;
        };
    });
</script>
