@model List<AgricolaDH_GApp.ViewModels.ReporteEgresosVM>


<div class="card-body table-responsive p-0" style="height: 100%;">
    <table class="table table-head-fixed text-nowrap">
        <thead>
            <tr>
                <th>Folio</th>
                <th>Solicitante</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="main-row" data-id="@item.IdLogsEgresos">
                    <td class="expand-btn" style="cursor:pointer; color:#007bff;">
                        @if (!string.IsNullOrEmpty(item.Folio))
                        {
                            <a href="@item.Folio" target="_blank">Ver</a>
                        }
                        else
                        {
                            <span class="text-muted">Sin evidencia</span>
                        }
                    </td>
                    <td>@item.Solicitante</td>
                    <td>@item.Fecha?.ToString("dd/MM/yyyy")</td>
                </tr>

                <tr class="collapse bg-light" id="details-@item.IdLogsEgresos" style="display:none;">
                    <td colspan="5">
                        <table class="table table-sm mb-0">
                            <thead>
                                <tr>
                                    <th>Serial</th>
                                    <th>Solicitante</th>
                                    <th>Fecha</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var d in item.Detalles)
                                {
                                    <tr>
                                        <td>@d.Serial</td>
                                        <td>@d.Solicitante</td>
                                        <td>@d.Fecha?.ToString("dd/MM/yyyy")</td>
                                    </tr>
                                }
                                </tbody>
                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script>
    document.querySelectorAll(".main-row .expand-btn").forEach(btn => {
        btn.addEventListener("click", function () {
            const row = this.closest(".main-row");
            const id = row.dataset.id;
            const detailRow = document.getElementById("details-" + id);

            if (detailRow.style.display === "none") {
                detailRow.style.display = "table-row";
            } else {
                detailRow.style.display = "none";
            }
        });
    });
</script>
