@model AgricolaDH_GApp.ViewModels.ProductosVM


<form id="dataform">
    @Html.HiddenFor(m => m.producto.IdProducto)
    @Html.HiddenFor(m => m.producto.PN)


    <div class="row align-items-end top-row-spacer">
        <div class="col-md-3">
            <label style="font-weight: normal; text-align: left; float: left">Nombre de Producto</label>
            @Html.EditorFor(m => m.producto.NombreProducto, new { htmlAttributes = new { @class = "form-control input-focus" } })
        </div>
        <div class="col-md-5">
            <label style="font-weight: normal; text-align: left; float: left">Descripción</label>
            @Html.EditorFor(m => m.producto.Descripcion, new { htmlAttributes = new { @class = "form-control input-focus notNull" } })
        </div>
        <div class="col-md-2">
            <button type="button" id="cancelar" class="btn btn-block secondary-background-color" style="color: white">
                Cancelar
            </button>
        </div>
        <div class="col-md-2">
            @if (Model.producto.IdProducto != null && Model.producto.IdProducto != 0)
            {
                <button type="button" id="editarProducto" class="btn btn-block secondary-background-color" style="color: white">
                    <i class="nav-icon fas fa-pen"></i>
                    Editar Producto
                </button>
            }
            else
            {
                <button type="button" id="crearProducto" class="btn btn-block secondary-background-color" style="color: white">
                    <i class="nav-icon fas fa-plus"></i>
                    Agregar Producto
                </button>
            }
        </div>
    </div>
</form>


<div class="row card-row-spacer">
</div>

<div class="modal fade" id="modal-crear">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Agregar Producto</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-crear-body">
                <p style="margin-left: 10px">¿Seguro que desea agregar este producto?</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancelar</button>
                <button id="crearProductoConfirm" type="button" class="btn btn-primary">Crear</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-editar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar Producto</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-editar-body">
                <p style="margin-left: 10px">¿Seguro que desea guardar los cambios realizados al producto?</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancelar</button>
                <button id="editarProductoConfirm" type="button" class="btn btn-primary">Editar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
    $(document).ready(function () {

        $("#crearProducto").click(function () {

            if(Validation()){
                $("#modal-crear").modal("show");
            }

        });

        $("#crearProductoConfirm").click(function () {

            $("#modal-crear").modal("hide");

            var dataform = $("#dataform");

            $.ajax({
                type: "POST",
                url: '@Url.Action("InsertProducto", "Productos")',
                data: dataform.serialize(),
                success: function (data) {
                    if (data.res == -2) {
                        // Show duplicate error message
                        alert(data.message);
                    } else if (data.res == -1) {
                        // Show generic error message
                        alert(data.message);
                    } else if (data.res == 0) {
                        // Success - refresh the page content
                        $("#HtmlBody").html(data.url);
                    }
                }
            });
        });

        $("#editarProducto").click(function () {

            if (Validation()) {
                $("#modal-editar").modal("show");
            }

        });

        $("#editarProductoConfirm").click(function () {
            $("#modal-editar").modal("hide");

            var dataform = $("#dataform");

            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateProducto", "Productos")',
                data: dataform.serialize(),
                success: function (data) {
                    if (data.res == 0) {
                        $("#HtmlBody").html(data.url);
                    }
                    else {
                        $("#modal-warning").modal("show");
                    }
                    
                }
            });
        });

        $("#cancelar").click(function () {

            $.ajax({
                type: "GET",
                url: '@Url.Action("Index", "Productos")',
                data: { },
                success: function (data) {
                    $("#HtmlBody").html(data);
                }
            });
        });

        function Validation() {
            
            $("#producto_NombreProducto").css("border-color", "");
            $("#producto_Descripcion").css("border-color", "");
           
            var validation = true

            if ($("#producto_NombreProducto").val() == null || $("#producto_NombreProducto").val() == "") {
                $("#producto_NombreProducto").css("border-color", "red");
                validation = false;
            }

            if ($("#producto_Descripcion").val() == null || $("#producto_Descripcion").val() == "") {
                $("#producto_Descripcion").css("border-color", "red");
                validation = false;
            }
           
            return validation;

        }

    });
</script>