@model AgricolaDH_GApp.ViewModels.EtapasVM

<form id="dataform">

    @Html.HiddenFor(m => m.etapa.IdEtapa)
    <div class="row card-row-spacer">
        <div class="col-md-3">
            <label style="font-weight: normal; text-align: left; float: left">Descripcion</label>
            @Html.EditorFor(m => m.etapa.Descripcion, new { htmlAttributes = new { @class = "form-control input-focus" }})
        </div>
        <div class="col-md-5">
        </div>
        <div class="col-md-2">
            <button type="button" id="cancelar" class="btn btn-block secondary-background-color btn-label-margin" style="color: white">
                Cancelar
            </button>
        </div>
        <div class="col-md-2">
            @if (Model.etapa.IdEtapa != null && Model.etapa.IdEtapa != 0)
            {
                <button type="button" id="editarEtapa" class="btn btn-block secondary-background-color btn-label-margin" style="color: white">
                    <i class="nav-icon fas fa-pen"></i>
                    Editar Etapa
                </button>
            }
            else
            {
                <button type="button" id="crearEtapa" class="btn btn-block secondary-background-color btn-label-margin" style="color: white">
                    <i class="nav-icon fas fa-plus"></i>
                    Crear Etapa
                </button>
            }
        </div>
    </div>
</form>

<div class="row card-row-spacer">
</div>

<div class="modal fade" id="modal-crear">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Crear Etapa</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-crear-body">
                <p style="margin-left: 10px">¿Seguro que desea crear el etapa?</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancelar</button>
                <button id="crearEtapaConfirm" type="button" class="btn btn-primary">Crear</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-editar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar Etapa</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-editar-body">
                <p style="margin-left: 10px">¿Seguro que desea guardar los cambios realizados al etapa?</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancelar</button>
                <button id="editarEtapaConfirm" type="button" class="btn btn-primary">Editar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
    $(document).ready(function () {

        $("#crearEtapa").click(function () {

            if (Validation()) {
                $("#modal-crear").modal("show");
            }

        });

        $("#crearEtapaConfirm").click(function () {

            $("#modal-crear").modal("hide");

            var dataform = $("#dataform");

            $.ajax({
                type: "POST",
                url: '@Url.Action("InsertEtapa", "Etapas")',
                data: dataform.serialize(),
                success: function (data) {

                    if (data.res == 0) {
                        $("#HtmlBody").html(data.url);
                    }
                    else {
                        $("#modal-warning").modal("show");
                    }
                }
            });
        });

        $("#editarEtapa").click(function () {

            if (Validation()) {
                $("#modal-editar").modal("show");
            }

        });

        $("#editarEtapaConfirm").click(function () {
            $("#modal-editar").modal("hide");

            var dataform = $("#dataform");

            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateEtapa", "Etapas")',
                data: dataform.serialize(),
                success: function (data) {

                    if (data.res == 0) {
                        $("#HtmlBody").html(data.url);
                    }
                    else {
                        $("#modal-warning").modal("show");
                    }
                }
            });
        });

        $("#cancelar").click(function () {

            $.ajax({
                type: "GET",
                url: '@Url.Action("Index", "Etapas")',
                data: {},
                success: function (data) {
                    $("#HtmlBody").html(data);
                }
            });
        });

        function Validation() {

            $("#etapa_Descripcion").css("border-color", "");

            var validation = true

            if ($("#etapa_Descripcion").val() == null || $("#etapa_Descripcion").val() == "") {
                $("#etapa_Descripcion").css("border-color", "red");
                validation = false;
            }

            return validation;

        }

    });
</script>