@model AgricolaDH_GApp.ViewModels.RanchosVM

<div class="row top-row-spacer">
    <div class="col-md-6">
        <h4 class="page-title">Ranchos</h4>
    </div>
</div>

<div id="ranchoForm">
    @Html.Partial("~/Views/Admin/Ranchos/Rancho.cshtml", Model)
</div>

<div class="text-center">

    <div class="row">
        <div class="col-12">

            <input id="IdRanchoBorrar" hidden />
            
            <div class="card card-margin">
                <div class="card-header">
                    <h3 class="card-title">Ranchos</h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0" style="height: 500px;">
                    <table class="table table-head-fixed text-nowrap">
                        <thead>
                            <tr>
                                <th style="width:30px">Acción</th>
                                <th>Descripción</th>
                                <th>Área</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var rancho in Model.ranchoList)
                            {
                                <tr>
                                    <td>
                                        <a href="#" id="@rancho.IdRancho" class="borrarRancho" style="color: #2E2E2E">
                                            <i class="nav-icon fas fa-trash"></i>
                                        </a>
                                        &nbsp;
                                        &nbsp;
                                        <a href="#" id="@rancho.IdRancho" class="editarRancho" style="color: #2E2E2E">
                                            <i class="nav-icon fas fa-pen"></i>
                                        </a>
                                    </td>
                                    <td>@rancho.Descripcion</td>
                                    <td>@rancho.Area</td>
                                </tr>
                            }                                          
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>

<div class="modal fade" id="modal-borrar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Borrar Área</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-borrar-body">
                <p style="margin-left: 10px">¿Seguro que desea borrar el área?</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancelar</button>
                <button id="modal-borrar-btn" type="button" class="btn btn-primary">Borrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
    $(document).ready(function () {

        $(".editarRancho").click(function () {

            var IdRancho = $(this).attr("id");
            $.ajax({
                type: "POST",
                url: '@Url.Action("EditarRancho", "Ranchos")',
                data: { IdRancho: IdRancho },
                success: function (data) {

                    $("#ranchoForm").html(data);

                }
            });
        });

        $(".borrarRancho").click(function () {

            $("#IdRanchoBorrar").val($(this).attr("id"));
            $("#modal-borrar").modal("show");

        });

        $("#modal-borrar-btn").click(function () {

            $("#modal-borrar").modal("hide");
            var IdRancho = $("#IdRanchoBorrar").val();

            $.ajax({
                type: "POST",
                url: '@Url.Action("BorrarRancho", "Ranchos")',
                data: { IdRancho : IdRancho },
                success: function (data) {

                    if (data.res == 0) {
                        $("#HtmlBody").html(data.url);
                    }
                    else {
                        $("#modal-warning").modal("show");
                    }
                }
            });
        });

    });
</script>

