@model AgricolaDH_GApp.ViewModels.SubirFacturaVM

<div class="text-center">

    <div class="row top-row-spacer">
        <div class="col-md-5">
            <h4 class="page-title">Ingresar</h4>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <button id="realizarIngresoConfirm" class="btn btn-block secondary-background-color" style="color: white">
                <i class="nav-icon fas fa-arrow-right"></i>
                Recibir
            </button>
        </div>
        <div class="col-md-2">
            <button id="imprimirEtiquetas" class="btn btn-block secondary-background-color" style="color: white">
                <i class="nav-icon fas fa-print"></i>
                Imprimir Etiquetas
            </button>
        </div>
    </div>

    <div class="card card-margin">
        <!-- Order and Date Section -->
        <div class="row card-row-spacer">
            <div class="col-md-8">
                <label style="font-weight: normal; text-align: left; float: left">Orden de compra</label>
                <input id="orderNumber" class="form-control" value="@Model.ordenDeCompra.IdOrdenDeCompra" readonly />
            </div>
            <div class="col-md-4">
                <label style="font-weight: normal; text-align: left; float: left">Fecha</label>
                <input type="date" class="form-control" value="@Model.ordenDeCompra.FechaOrdenDeCompra?.ToString("yyyy-MM-dd")" readonly />
            </div>
        </div>

        <!-- Dynamic Product Section -->
        <div class="row card-row-spacer">
            <label style="font-weight: normal; text-align: left; float: left; margin-right: 10px;">Productos a Ordenar</label>
        </div>

        <div id="productContainer">
            @if (Model.productosOrdenar != null && Model.productosOrdenar.Any())
            {
                @foreach (var product in Model.productosOrdenar)
                {
                    <div class="row card-row-spacer product-row">
                        <div class="col-md-4">
                            <label style="font-weight: normal; text-align: left; float: left">Producto</label>
                            <input class="form-control" value="@product.Producto" readonly />
                            <input type="hidden" class="product-barcode" data-barcode-value="" />
                        </div>
                        <div class="col-md-2">
                            <label style="font-weight: normal; text-align: left; float: left">Cantidad Esperada</label>
                            <input type="number" class="form-control" value="@product.Cantidad" readonly />
                        </div>
                        <div class="col-md-1">
                            <label style="font-weight: normal; text-align: left; float: left">Restante</label>
                            <input type="number" class="form-control cantidad-restante" placeholder="Restante" />
                        </div>
                        <div class="col-md-1">
                            <label style="font-weight: normal; text-align: left; float: left">Recibida</label>
                            <input type="number" class="form-control cantidad-recibida" placeholder="Recibida" />
                        </div>
                        <div class="col-md-2">
                            <label style="font-weight: normal; text-align: left; float: left">Unidad</label>
                            <input type="number" class="form-control" value="@product.Unidad" readonly />
                        </div>
                        <div class="col-md-2">
                            <label style="font-weight: normal; text-align: left; float: left">Total</label>
                            <input type="number" class="form-control" value="@product.Total" readonly />
                        </div>
                    </div>
                }
            }
        </div>

        <!-- Additional Details -->
        <div class="row card-row-spacer">
            <div class="col-md-4">
                <label style="font-weight: normal; text-align: left; float: left">Impuestos</label>
                <input type="number" class="form-control" placeholder="Impuestos" />
            </div>
            <div class="col-md-4">
                <label style="font-weight: normal; text-align: left; float: left">Descuentos</label>
                <input type="number" class="form-control" placeholder="Descuentos" />
            </div>
            <div class="col-md-4">
                <label style="font-weight: normal; text-align: left; float: left">Notas</label>
                <textarea class="form-control" placeholder="Notas adicionales"></textarea>
            </div>
        </div>
    </div>
</div>

<script type="module">
    import { openPrintWindow } from "/js/labelPrinter.js";

    $(document).ready(function () {
        // Fetch barcodes for all products on page load
        $(".product-row").each(function () {
            const $row = $(this);
            const productName = $row.find("input[readonly]").val(); // Get the product name

            if (productName) {
                // Make AJAX request to fetch the barcode
                $.ajax({
                    url: '/Ingresos/GetProductBarcodeID',
                    type: 'GET',
                    data: { nombreProducto: productName },
                    success: function (response) {
                        if (response.success) {
                            $row.find(".product-barcode").data("barcode-value", response.barcodeID);
                        } else {
                            console.error(`Error: ${response.message}`);
                        }
                    },
                    error: function () {
                        console.error("Error fetching product barcode.");
                    }
                });
            }
        });

        // Event handler for "Imprimir Etiquetas"
        $("#imprimirEtiquetas").click(function () {
            const orderNumber = $("#orderNumber").val(); // Get the order number from the updated ID
            const labels = [];

            $(".product-row").each(function () {
                const $row = $(this);
                const productName = $row.find("input[readonly]").val(); // Get product name
                const productBarcodeID = $row.find(".product-barcode").data("barcode-value"); // Get barcode value

                if (productName && productBarcodeID) {
                    // Generate label HTML
                    labels.push(`
                            <div class="label">
                                <h4>Orden: ${orderNumber}</h4>
                                <h4>Producto: ${productName}</h4>
                                <svg class="barcode" data-barcode-value="${productBarcodeID}"></svg>
                            </div>
                        `);
                }
            });

            if (labels.length > 0) {
                openPrintWindow(labels.join(''), orderNumber); // Pass both labels and order number
            } else {
                alert("No hay datos para imprimir etiquetas.");
            }
        });
    });
</script>
